{include file="common/header" /}
{include file="common/top" /}
{include file="common/nav" /}

    <div class="container">
        <div class="top-container">
            <div class="mid-area">
                <div class="slide-holder" id="slide-holder">
                    <a href="#" class="slide-prev"><i class="slide-arrow-left"></i></a>
                    <a href="#" class="slide-next"><i class="slide-arrow-right"></i></a>
                    <ul class="slideshow">
                        {foreach $main as $v}
                            <li><a href="{$v.url}" target="_blank" class="item-large"><img class="ad-pic" src="{$v.image}" title="{$v.description}" alt="{$v.title}" /></a>
                        {/foreach}
                    </ul>
                </div>
                <div class="list-container">

                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-ad">
                <ul class="slidepic">
                    <li><a href="{$side.url}" target="_blank"><img src="{$side.image}" title="{$side.description}" alt="{$side.title}" /></a></li>
                </ul>
            </div>

        </div>
        <div class="content-container">
            <div class="no-recom-container">
                <div class="floor-content-start">
                    {foreach $cate as $v}
                        <div class="floor-content">
                            <div class="floor-header">
                                <h3>{$v.name}</h3>
                                <ul class="reco-words">
                                    {foreach $v['child'] as $value}
                                        <li><a href="{:url('lists/index', ['id' => $value.id])}" target="_blank">{$value.name}</a></li>
                                    {/foreach}
                                    <li><a href="{:url('lists/index', ['id' => $v.id])}" class="no-right-border no-right-padding" target="_blank">全部<span class="all-cate-arrow"></span></a></li>
                                </ul>
                            </div>

                            <ul class="itemlist eight-row-height">
                                {if condition="$v['deal']"}
                                    {foreach $v['deal'] as $value}
                                        <li class="j-card">
                                        <a href="{:url('detail/index', ['id' => $value.id])}" target="_blank">
                                            <div class="imgbox">
                                                <ul class="marketing-label-container">
                                                    <li class="marketing-label marketing-free-appoint"></li>
                                                </ul>
                                                <div class="range-area">
                                                    <div class="range-bg"></div>
                                                    <div class="range-inner">
                                                        
                                                    </div>
                                                </div>
                                                <div class="borderbox">
                                                    <img src="{$value.image}" />
                                                </div>
                                            </div>
                                        </a>
                                        <div class="contentbox">
                                            <a href="{:url('detail/index', ['id' => $value.id])}" target="_blank">
                                                <div class="header">
                                                    <h4 class="title ">【{$value.location_ids|countLocation}店通用】</h4>
                                                </div>
                                                <p>{$value.name}</p>
                                            </a>
                                            <div class="add-info"></div>
                                            <div class="pinfo">
                                                <span class="price"><span class="moneyico">¥</span>{$value.current_price}</span>
                                                <span class="ori-price">价值<span class="price-line">¥<span>{$value.origin_price}</span></span></span>
                                            </div>
                                            <div class="footer">
                                                <span class="comment">&nbsp;</span><span class="sold">已售{$value.sell_count}</span>
                                                <div class="bottom-border"></div>
                                            </div>
                                        </div>
                                        </li>
                                    {/foreach}
                                {else /}
                                    <p style="color: #ff318c; text-indent: 1em; font-size: 16px; padding-top: 4px;">呀，{$common_city->name}好像没有{$v.name}团购噢~</p>
                                {/if}
                            </ul>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="copyright-info">
            
        </div>
    </div>

    <script>
        var width = 800 * $("#slide-holder ul li").length;
        $("#slide-holder ul").css({width: width + "px"});

        //轮播图自动轮播
        var time = setInterval(moveleft,5000);

        //轮播图左移
        function moveleft(){
            $("#slide-holder ul").animate({marginLeft: "-737px"},600, function () {
                $("#slide-holder ul li").eq(0).appendTo($("#slide-holder ul"));
                $("#slide-holder ul").css("marginLeft","0px");
            });
        }

        //轮播图右移
        function moveright(){
            $("#slide-holder ul").css({marginLeft: "-737px"});
            $("#slide-holder ul li").eq(($("#slide-holder ul li").length)-1).prependTo($("#slide-holder ul"));
            $("#slide-holder ul").animate({marginLeft: "0px"},600);
        }

        //右滑箭头点击事件
        $(".slide-next").click(function () {
            clearInterval(time);
            moveright();
            time = setInterval(moveleft,5000);
        });

        //左滑箭头点击事件
        $(".slide-prev").click(function () {
            clearInterval(time);
            moveleft();
            time = setInterval(moveleft,5000);
        });
    </script>
</body>
</html>
