<!--包含头部文件-->
{include file="common/header" /}
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" method="post" action="{:url('featured/edit')}">
		<input type="hidden" name="id" value="{$featured.id}" />
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$featured.title}" placeholder="" id="" name="title">
			</div>
		</div>
		
		<div class="row cl">
              <label class="form-label col-xs-4 col-sm-2">推荐图：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload"  type="file" multiple="true" >
                <img id="upload_org_code_img" src="{$featured.image}" width="150" height="150">
                <input id="file_upload_image" name="image" type="hidden" multiple="true" value="{$featured.image}">
              </div>
        </div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>推荐位类型：</label>
			<div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="type" class="select">
					{foreach $type as $k => $v}
						<option value="{$k}" {if condition="$k eq $featured.type"}selected="selected"{/if}>{$v}</option>
					{/foreach}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">url：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$featured.url}" placeholder="" id="" name="url">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">描述：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$featured.description}" placeholder="" id="" name="description">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 确认修改</button>	
			</div>
		</div>
	</form>
</article>
<script>
    var _uploadify_swf_ = '__STATIC__/admin/uploadify/uploadify.swf';
    var _uploader_ = '{:url("api/image/upload")}';
    var _city_url_ = '{:url("api/city/getCitysByParentId")}';
    var _category_url_ = '{:url("api/category/getCategoryByParentId")}';
</script>
<!--包含尾部文件-->
{include file="common/footer" /}
