<div class="search">
    <img src="__STATIC__/index/image/logo.png" />

</div>

<div class="nav-bar-header">
    <div class="nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <span class="item">全部分类</span>
                <div class="left-menu">
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">美食</a></dt>
                                <dd><a href="" target="_top" class="">精选品牌</a></dd>
                                <dd><a href="" target="_top" class="">小吃快餐</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a class="hot">精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">电影</a></dt>
                                <dd><a href="" target="_top" class="">订座</a></dd>
                                <dd><a href="" target="_top" class="">电影票团购</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">休闲娱乐</a></dt>
                                <dd><a href="" target="_top" class="">ktv</a></dd>
                                <dd><a href="" target="_top" class="">温泉洗浴</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <ul>
                                        <li><a class="hot">精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">电影</a></dt>
                                <dd><a href="" target="_top" class="">订座</a></dd>
                                <dd><a href="" target="_top" class="">电影票团购</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">电影</a></dt>
                                <dd><a href="" target="_top" class="">订座</a></dd>
                                <dd><a href="" target="_top" class="">电影票团购</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热门分类</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item"><a class="item first active">首页</a></li>
            <li class="nav-item"><a class="item">团购</a></li>
            <li class="nav-item"><a class="item">商户</a></li>
        </ul>
    </div>
</div>