<body>
    <div class="header-bar">
        <div class="header-inner">
            <ul class="father">
                <li><a>北京</a></li>
                <li>|</li>
                <li class="city">
                    <a>切换城市<span class="arrow-down-logo"></span></a>
                    <div class="city-drop-down">
                        <h3>热门城市</h3>
                        <ul class="son">
                            <li><a href="">北京</a></li>
                            <li><a href="">上海</a></li>
                            <li><a href="">广州</a></li>
                            <li><a href="">深圳</a></li>
                            <li><a href="">天津</a></li>
                            <li><a href="">杭州</a></li>
                            <li><a href="">西安</a></li>
                            <li><a href="">成都</a></li>
                            <li><a href="">郑州</a></li>
                            <li><a href="">厦门</a></li>
                            <li><a href="">青岛</a></li>
                            <li><a href="">太原</a></li>
                            <li><a href="">重庆</a></li>
                            <li><a href="">武汉</a></li>
                            <li><a href="">南京</a></li>
                            <li><a href="">沈阳</a></li>
                            <li><a href="">济南</a></li>
                            <li><a href="">哈尔滨</a></li>
                        </ul>

                    </div>
                </li>
                <li><a href="register.html">注册</a></li>
                <li>|</li>
                <li><a href="login.html">登录</a></li>
            </ul>
        </div>
    </div>