<!--包含头部文件-->
{include file="common/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 已下架门店 </nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="80">ID</th>
                    <th width="100">名称</th>
                    <th width="60">申请时间</th>
                    <th width="60">是否为总店</th>
                    <th width="60">状态</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $location as $v}
                    <tr class="text-c">
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v.create_time}</td>
                        <td>{if condition="$v.is_main"}总店{else /}分店{/if}</td>
                        <td class="td-status">
                            <a href="{:url('location/status', ['id' => $v.id, 'status' => 1])}" title="点击上架">{$v.status|status=###,0}</a>
                        </td>
                        <td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="o2o_edit('门店详情查看', '{:url('location/detail', ['id' => $v.id])}')" href="javascript:;" title="查看"><i class="Hui-iconfont">&#xe6df;</i></a></td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
    {:paginate($location)}
</div>
<!--包含头部文件-->
{include file="common/footer" /}